extends _layout

block content
  h1= title
  p hello world.

  p= data

  table(border=1, cellspacing=1, width='100%')
    tbody
      tr
        th(width='10%') date
        th(width='10%') service
        th(width='10%') status
        th(width='35%') actual text
        th(width='35%') parse test
      tr
        td x
        td x
        td x
        td x
        td x
